/* CAREER launch-out STARTS HERE  */
.launch-out{
    background: linear-gradient(rgba(247, 148, 29, 0.65), rgba(247, 148, 29, 0.65)), 
    url('../../../public/images/Rectangle\ 9941.png') center/cover no-repeat;
    background-position: top center;
/* mix-blend-mode: color-burn; */
    padding: 60px 0 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    min-height: 100vh;
}
.launch-out .launch-out-content{
    width: 700px;
    /* border: 1px solid black; */
    position: relative;
}
.launch-out .launch-out-content .launch-out-angle{
    position: absolute;
    top: -30px;
    left: -20px;
    width: 70px;
}
.launch-out .launch-out-content .launch-out-spring{
    position: absolute;
    right: -3px;
    width: 70px;
    top: -60px;
}
.launch-out .launch-out-content .launch-out-angle img,
.launch-out .launch-out-content .launch-out-spring img{
    width: 100%;
}
.launch-out .launch-out-content h1{
    /* border: 1px solid black; */
    position: relative;
    font-size: 45px;
    margin: 0 0 20px;
}
.launch-out .launch-out-content h1 > span{
    color: #000;
}
.launch-out .launch-out-content h1::after{
    content: '';
    width: 15%;
    height: 5px;
    background-color: #000;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}
.launch-out .launch-out-content p{
    font-size: 20px;
}
.launch-out .launch-out-content button{
    border-radius: 40px;
    padding: 10px 25px;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    color: #212121;
    margin: 25px 0 0 0;
    color: #F7941D;
    font-weight: 700;
}


.fade-up {
    animation: fade-up .3s ease-in-out;
}

@keyframes fade-up {
    from {
        margin-top: 22px;
        margin-left: 2px;
        opacity: 0.2;
    } to {
        margin-top: 20px;
        opacity: 1;
        margin-left: 0px;
    }
}
